  <h2 class = "text-center">Family Support Services</h2>
    <div class = "row">
        <div class = "col-xs-12 col-sm-12 col-md-6 pull-right">
          <img class = "img-responsive center-block thumbnail" src = "images/student-family.jpg">
        </div>
        <div class = "col-md-6 pull-left">
            <p>The parents and family members of our students are hard-working and dedicated to providing a bright future for their students, however, they may not be equipped with the skills needed to support their children through high school and college. The Family Support program provides services to help parents and families create a strong support system for their children by providing the following services:</p>
              <ul>  
                  <li>Community events and engagement opportunities</li>
                  <li>Health & Wellness workshops</li>
                  <li>Fine Arts and Literacy classes</li>
                  <li>ESL classes</li>
                  <li>School Fundraisers to help pay for tuition</li>
                  <li>Prayer and retreats</li>
                  <li>Counseling</li>
                  <li> Parent Support Classes
                    <ul>
                        <li>High school application process</li>
                        <li>College application process</li>
                        <li>Motivating your teen</li>
                        <li>Employment guidance</li>
                        <li>Parenting skills</li>
                    </ul>
                </li>
              </ul>
        </div>
    </div>