    <h2 class = "text-center">Be a Guiding Star Donor</h2>
    <div class = "row">
        <h4 class = "text-center">What Does it Mean to be a Guiding Star Donor?</h4>
      <div class = "col-md-12">
          <ul>
            <li>You will be paired with a San Miguel student.</li>
            <li>You will receive a profile about your student, at least one letter/year from your student, an invitation to have lunch with your student, and recognition as a Guiding Star donor.</li>
            <li>You will witness first-hand how your gifts are making a direct impact. There is so much to learn from our students.</li>
            <li>Guiding Star Donors give $1,000 or more within one school year.</li>
            <li>Guiding Stars can make their gift with a one-time payment, monthly, or through multiple payments throughout the year.</li>
          </ul>
      </div>
    </div>
    <div class ="row">
        <div class = "col-md-6">
            <img class = "img-responsive thumbnail" src = "images/Guiding-star-photo.jpg">
        </div>
        <div class = "col-md-6">
          <ul>
            <li>Our students gain confidence and receive encouragement knowing that there is someone who is rooting for them outside of school and their home. In addition, our students learn gratitude and the importance of giving back through your example.</li>
            <li>Your gift of $1,000 matches the amount that our parents pay for their child to attend San Miguel each year  you can make a gift knowing our families have invested whole-heartedly as well!</li>
          </ul>

            <a href = "https://donatenow.networkforgood.org/sanmiguelschoolchicago" class = 'btn btn-primary btn-lg center-block'><i class="fa fa-star fa-1x fa-fw"></i>I want to be a Guiding Star <i class="fa fa-star fa-1x fa-fw"></i></a>

      </div>
    </div>