<h2 class = "text-center">Middle School</h2>
  <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-6 pull-right">
        <img class = "img-responsive center-block thumbnail" src = "images/classroom.jpg">
      </div>
      <div class = "col-md-6 pull-left">
          <span>Students are admitted to San Miguel based on the following criteria:</span>
            <ol>  
                <li>They are a family member of current students or graduates</li>
                <li>They are academically at-risk students behind in core subjects of reading, math, and literacy</li>
                <li>Their families are economically challenged.</li>
            </ol>
          <span>All families commit to paying monthly tuition- What they can afford is typically only 5% of the total cost to educate each child. Through donations and community support every student receives a scholarship.</span>

          <span> Many students enter San Miguel one or more grade levels behind but graduate at or above grade level- improving 4-6 grade levels in just three years. The success of our students comes from their hard work coupled with a strong program model:</span>
          <br>
          <ul>
            <li>Small Class sizes (1:10 teacher to student ratio)</li>
            <li>Extended School Days</li>
            <li>Extended School year</li>
            <li>Built-in extra-curriculars through the Renaissance Program (arts, exercise, leadership, cooking and much more)</li>
            <li>Faith-based education</li>
            <li>BIST behavior management system centered on care and concern for the whole child</li>
            <li>Strong Focus on Reading</li>
            <li>Individualized approach to education- meeting each student where they are through individualized instruction.</li>
            <li>Partnership with parents and families</li>
            <li>Field trips and college exposure trips</li>
            <li>Graduate support program to help prepare for the high school application process.</li>
          </ul>
      </div>
  </div>