  <div class = "row">
    <h2 class ="text-center"><u>Mission Statement</u></h2>
      <div class = "col-md-12">
        <p>The mission of San Miguel School is to transform the lives of our students, their families and communities through education, by touching hearts and inspiring minds.</p>
    </div>
  </div>

  <div class = "row">
    <h2 class ="text-center"><u>Vission Statement</u></h2>
      <div class = "col-md-12">
        <p>San Miguel, a Catholic and Lasallian school, envisions an educational community that provides each student with emotional support, a sense of belonging, instills Gospel values, and is animated by and fosters a spirit of Faith and Zeal.</p>
        <p>San Miguel delivers diverse, exceptional, high quality, and a comprehensive educational program for the under-served meeting recognized standards of excellence, and promotes and sustains a vibrant relationship between the school and society.</p>
        <p>San Miguel will position itself to achieve and steward a strong and sustainable financial foundation by building appropriate reserves and diverse revenue streams to ensure its future viability.</p>
    </div>
  </div>

  <div class = "row">
    <h2 class ="text-center"><u>Philosophy Statement</u></h2>
      <div class = "col-md-12">
        <h6 class = "text-center">A Community of Compassion in the Lasallian Tradition</h6>
        <p>  As Lasallians, we are all educators, a community of Brothers, teachers, staff and families animated by a spirit of faith and zeal.  In our ministry of Catholic education and in our search for God in our lives, we seek to be living witnesses to the Gospel of Jesus Christ.  In the witness of our lives and the action of our programs, we strive to lead each other and our children to the Gospel through inspiration not indoctrination, inclusion not separation, and affirmation not condemnation.  As ministers and ambassadors of Jesus Christ, we recognize and affirm the power of God’s love to transform our lives, the lives of our families and children, and the world.</p>
        <p>As a community of compassion, all of us – students, teachers, families, and staff – seek to be better, to be competent, to have compassion for each other, to achieve our potential.  We are an educational community, learning together, working together, and planning together. We, as educators, strive to help students understand the complexities of human relationships and enable them to resolve their conflicts in a peaceful and non-violent manner.  We believe mistakes are part of the process of learning and opportunities for growth.</p>
    </div>
  </div>

