  <h2 class = "text-center">Family Support Services</h2>
    <div class = "row">
        <div class = "col-md-6">
          <img class = "img-responsive center-block" src = "images/volunteer.png">
        </div>
        <div class = "col-md-6 pull-left">
            <span>There are many opportunities to get involved at San Miguel School Chicago!</span>
              <ul>  
                  <li>Board of Directors</li>
                  <li>Special Events/Event Commitees</li>
                  <li>Academic Support/Tutoring/Reading</li>
                  <li>Graduate Support – Tutoring</li>
                  <li>Sports/PE Programs</li>
                  <li>Family Support Services</li>
                  <li>Adopt a Student Sponsorship</li>
                  <li>Community Partnership</li>
                  <li>Arts and Music</li>
                  <li>Auxiliary Board</li>
                  <li>Spreading Awareness</li>
                  <li>Administrative Support</li>
                  <li>Renaissance Programs</li>
              </ul>
        </div>
    </div>
    <div class = "row">
        <h2 class = "text-center">Volunteer Procedure</h2>
        <div class = "col-md-6">
          <strong>Thank you for your interest in volunteering at San Miguel School Chicago!</strong>
          <ul>
              <li>1. Meet with a San Miguel staff member to take a tour of school and for an interview. Contact Colleen Ahearn at 773-890-0233 or cahearn@sanmiguelchicago.org to set up a tour for you or your group.</li>
              <li>2. Fill out the volunteer application form below and indicate what volunteer services you would like to provide.</li>
              <li>3. You will be assigned a department leader to help schedule your volunteer time at San Miguel School. In some cases, depending on your service, you may be in contact with more than one department leader.
                 <ul>
                    <li>Board of Directors, Community Partnerships- Tad Smith</li> 
                    <li>Auxiliary Board, Group Visits, Fundraising, Event committees- Colleen Ahearn</li> 
                    <li>Middle School Programs, Reading, Library, Classroom Assistance- Erin Hempstead</li>
                    <li>Graduate Support, Sports, Family Support- Eric Serrano</li>
                  </ul> 
              </li>
          </ul>
        </div>
          <div class = "col-md-6">

                <li>4. Individuals who are volunteering on a regular basis (at least once a month) and working directly with students will need to attend a Protecting God’s Children Workshop.<br>
                <p>This can be scheduled online at: www.virtus.org. Once on the Virtus website, go under Chicago Archdiocese,then register under San Miguel School Chicago. This workshop is offered at churches throughout the Chicago-land area. After attending the workshop, send the copy of your attendance record to Sheila Senjanin, ssenjanin@sanmiguelchicago.org (if taken from location outside of Maryville.)</p>
              </li>
              <li>5. Enjoy your volunteer experience and help spread the word about San Miguel!</li>

          </div>
    </div>
